# Ignore everything in the tools directory
/tools/*

# But not the zip file
!/tools/COH3-SGA-Extraction.zip
!/tools/README.md
!/tools/anvil.*.ucs

!/tools/AOEMods.Essence-0.7.0.zip


.idea/AugmentWebviewStateStore.xml
